* {
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: #d5e7f2;
  align-items: center;
}

#content-page {
  margin-bottom: 60px;
}

.containerIcon {
  display: flex;
}

.icons {
  height: 30px;
  padding: 6px;
}

.task-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blocks {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.subblocks {
  display: flex;
  flex-direction: column;
}

button {
  width: 120px;
  height: 62px;
  font-size: 20px;
}

/* texts */
main h1 {
  text-align: center;
  font-weight: 300;
  padding-top: 60px;
}

.summ {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
}

.textSeller,
.textCost,
.textData {
  font-size: 24px;
  word-break: break-all;
  margin: 20px 15px 20px 0;
  padding: 0 10px;
}

.textSeller {
  min-width: 150px;
  width: 29vw;
}

.textCost {
  width: 10vw;
  min-width: 150px;
}

.textData {
  width: 11vw;
  min-width: 210px;
}

.blocks p {
  margin: 5px 0;
  font-size: 18px;
}

/* Inputs */
.inputSellerClass,
.inputCostClass,
.editInputPrice,
.editInputDate,
.editInputSeller {
  border-radius: 4px;
  border: 1px solid #bebebe;
  height: 60px;
  margin-right: 13px;
  padding: 0 10px;
  font-size: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputSellerClass {
  min-width: 235px;
  width: 35vw;
}

.inputCostClass {
  min-width: 235px;
  width: 20vw;
  font-size: 24px;
}

.editInputSeller {
  min-width: 150px;
  width: 29vw;
}

.editInputPrice {
  min-width: 150px;
  width: 10vw;
}

.editInputDate {
  min-width: 210px;
  width: 11vw;
}

::placeholder {
  color: #bebebe;
  font-size: 20px;
}

.editInputPrice,
.editInputSeller,
.editInputDate {
  margin-top: 2px;
  margin-bottom: 3px;
  font-size: 24px;
}

@media screen and (max-device-width: 1024px) {
  .blocks {
    flex-direction: column;
    align-items: center;
  }

  .inputSellerClass,
  .inputCostClass,
  .editInputPrice,
  .editInputSeller,
  .editInputDate {
    min-width: 300px;
    width: 60vw;
    margin: 6px 0;
  }

  button {
    min-width: 327px;
    margin-top: 30px;
    width: calc(60vw + 18px);
  }

  .subblocks p {
    margin: 10px 0;
  }

  .task-container {
    flex-direction: column;
    align-items: center;
  }

  .textSeller,
  .textCost,
  .textData {
    min-width: 300px;
    width: 60vw;
    border: 1px solid #87afc7;
    border-radius: 5px;
    margin: 5px;
    min-height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
